<template>
  <v-btn
    :block="block"
    :color="color"
    elevation="1"
    :loading="loading"
    @click.prevent="event"
  >{{ label }}</v-btn>
</template>

<script>
export default {
  name: "Button",
  props: {
    label: {
      type: String,
      default: ''
    },
    event: {
      type: Function,
      default: () => {}
    },
    color: {
      type: String,
      default: 'primary'
    },
    loading: {
      type: Boolean,
      default: false
    },
    block: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style>

</style>