<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-card>
      <v-card-title>
        <span class="text-h5">{{ title }}</span>
      </v-card-title>
      <v-card-text>
        <slot />
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <Button :event="() => $emit('close')" :block="false" color="secondary" :label="$t('close')"/>

        <Button :event="handleSubmit" type="submit" :block="false" color="primary" :loading="innerLoading" :label="$t('submit')"/>

      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>
import Button from "~/components/Button.vue";

export default {
  components: { Button },
  props: {
    dialog: {
      type: Boolean,
      required: true
    },
    title: {
      type: String
    },
    submit: {
      type: Function,
      default: () => {}
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    innerDialog: false,
    valid: false,
    innerLoading: false
  }),
  methods: {
    handleSubmit() {
      this.$refs.form.validate(); 

      setTimeout(() => {
        this.$emit('submit', this.valid);
      });
    }
  },
  watch: {
    dialog(value) {
      this.innerDialog = value;
    },
    loading(value) {
      this.innerLoading = value;
    }
  }
}
</script>

<style>

</style>