<template>
  <v-data-table
    :headers="headers"
    :items="innerTableItems"
    :footer-props="{
      'items-per-page-options': [5, 10, 20, 30]
    }"
    :items-per-page="innerItemsPerPage"
    :options.sync="innerOptions"
    :loading="loading" 
    :loading-text="$t('loading')"
    :search="innerSearch"
  >

    <template v-slot:top>
      <div v-if="addItemEnabled" class="pa-4">
        <Button :block="false" :event="addEvent" color="primary" :loading="loading" :label="$t('add')"/>
      </div>
    </template>

    <template v-slot:[`header.name`]="{ header }">
      {{ $t(header.text) }}
    </template>

    <template slot="item.actions" slot-scope="props">
      <v-btn v-if="actions.includes('edit')" :loading="loading" color="warning" class="mx-2" icon @click="() => $emit('onEdit', props.item)">
        <v-icon dark>mdi-pencil</v-icon>
      </v-btn>

      <v-btn v-if="actions.includes('delete')" :loading="loading" color="error" class="mx-2" icon @click="() => $emit('onDelete', props.item)">
        <v-icon dark>mdi-delete</v-icon>
      </v-btn>
    </template>

  </v-data-table>
</template>

<script lang="ts">
import Button from './Button.vue';
import { TableOptions } from '~/types/common';

interface Props {
  headers: any[];
  tableItems: any[];
  itemsPerPage: number;
  loading: boolean;
  actions: string[];
  options: TableOptions;
  addItemEnabled: boolean;
  addEvent: Function;
  search: string;
}

export default {
  components: { Button },
  props: {
    headers: {
      type: Array,
      required: true
    },
    itemsPerPage: {
      type: Number,
      required: true
    },
    tableItems: {
      type: Array,
      default: () => []
    },
    loading: {
      type: Boolean,
      default: false,
    },
    addItemEnabled: {
      type: Boolean,
      default: false
    },
    addEvent: {
      type: Function,
      default: () => {}
    },
    actions: {
      type: Array,
      default: () => []
    },
    options: {
      type: Object,
      default: () => {}
    },
    search: {
      type: String,
      default: ''
    }
  },
  data: (props: Props) => ({
    innerTableItems: props.tableItems,
    innerItemsPerPage: props.itemsPerPage,
    innerLoading: props.loading,
    innerOptions: props.options,
    innerSearch: props.search,
  }),
  watch: {
    tableItems(value) {
      this.innerTableItems = value;
    },
    itemsPerPage(value) {
      this.innerItemsPerPage = value;
    },
    search(value) {
      this.innerSearch = value;
    },
    loading(value) {
      this.innerLoading = value;
    },
    innerOptions(newValue: TableOptions) {
      (this as any).$emit("onOptionsChanged", newValue);
    }
  }
}
</script>

<style>

</style>