<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-container>
      <v-row justify="center" class="pa-4">
        <v-col cols="12" xl="4" lg="4" md="4" sm="4">
          <v-text-field
            v-model="category.name"
            :label="$t('nameRequired')"
            hide-details
            :rules="rules"
            required
          ></v-text-field>
        </v-col>
      </v-row>

    <v-row class="pa-4" justify="center">
      <v-col md="3" xs="12">
        <Button :event="submit" type="submit" color="primary" :loading="loading" :label="$t('submit')"/>
      </v-col>
      <v-col md="3" xs="12">
        <Button :event="goBack" color="secondary" :loading="loading" :label="$t('back')"/>
      </v-col>
    </v-row>
    </v-container>
  </v-form>
</template>

<script lang="ts">
import Button from "~/components/Button.vue";
import { Category } from '~/types/categories';

declare interface BaseComponentData {
  valid: boolean;
  loading: boolean;
  category: {
    name: string;
  };
  rules: any[];
}

export default {
  name: "Category",
  middleware: ['isAuthenticated'],
  components: { Button },
  data: (): BaseComponentData => ({
    valid: false,
    loading: false,
    category: { name: '' },
    rules: [ v => !!v || '' ]
  }),
  async created() {
    const { category } = this.$nuxt.$options.router.currentRoute.params;
    const apiCategory = await this.$store.dispatch("categories/getSingleCategoryAction", category) as Category;
    this.category = { ...apiCategory };
  },
  methods: {
    async submit() {
      this.$refs.form.validate();
      if(this.valid) {
        this.loading = true;
        await this.$store.dispatch("categories/updateCategoryAction", this.category);
        this.loading = false;
      }
    },
    goBack() {
      this.$nuxt.$options.router.push('/categories');
    }
  }
}
</script>

<style>

</style>