<template>
  <v-card>
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        :label="$t('search')"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <NoServerPaginationTable 
      :headers="headers"
      :itemsPerPage="itemsPerPage"
      :tableItems="categories"
      :actions="['edit', 'delete']"
      :loading="loading"
      :search="search"
      @onEdit="editItem"
      @onDelete="deleteItem"
      :addItemEnabled="true"
      :addEvent="() => { dialog = true; }"
    />

    <v-row justify="center">
      <v-dialog
        v-model="dialog"
        max-width="600px"
      >
        <Dialog 
          ref="dialog" 
          :dialog="dialog" 
          :loading="loading"
          :title="$t('createCategory')" 
          @submit="createCategory" 
          @close="() => dialog = false"
        >
          <v-container>
            <v-row class="pa-4">
              <v-col cols="12" xl="4" lg="4" md="4" sm="4">
                <v-text-field
                  v-model="category.name"
                  :label="$t('nameRequired')"
                  hide-details
                  :rules="rules"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </Dialog>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import NoServerPaginationTable from "~/components/NoServerPaginationTable.vue";
import Button from "~/components/Button.vue";
import Dialog from "~/components/Dialog.vue";

import { DataTableHeaders, Category, CategoryTable } from "~/types/categories";

declare interface BaseComponentData {
  headers: DataTableHeaders[];
  categories: CategoryTable[];
  itemsPerPage: number;
  loading: boolean;
  dialog: boolean;
  category: {
    name: string;
    image: string;
  };
  rules: any[];
  search: string;
}

export default {
	name: "Categories",
  middleware: ['isAuthenticated'],
  components: { NoServerPaginationTable, Button, Dialog },
	data: (): BaseComponentData => ({
		headers: [
      { text: "Id", filterable: true, value: "id", sortable: false, align: "start" },
      { text: "Name", filterable: true, value: "name", sortable: false, align: "start" },
      { text: "Image", filterable: true, value: "image", sortable: false, align: "start" },
      { text: "Actions", value: "actions", sortable: false, align: "center" }
    ],
    itemsPerPage: 5,
		categories: [],
    loading: false,
    dialog: false,
    category: {
      name: '',
      image: "https://placeimg.com/640/480/any"
    },
    rules: [ v => !!v || '' ],
    search: ''
	}),
  async created() {
    await this.getDataFromApi();
  },
  methods: {
    async getDataFromApi() {
      this.loading = true;

      await this.$store.dispatch("categories/getCategoriesAction");

      this.categories = this.$store.getters["categories/getCategories"] as CategoryTable[];

      this.loading = false;
    },
    editItem(item: Category) {
      this.$nuxt.$options.router.push(`categories/${item.id}`)
    },
    async deleteItem(item: Category) {
      this.loading = true;
      await this.$store.dispatch("categories/deleteCategoryAction", item.id);
      await this.getDataFromApi();
    },
    async createCategory(formValid: boolean) {
      if(formValid) {
        this.loading = true;
        await this.$store.dispatch("categories/createCategoryAction", this.category);
        await this.getDataFromApi();
        this.dialog = false;
      }
    },
  },
  watch: {
    dialog(value) {
      if(!value) this.$refs.dialog.$refs.form.reset();
    }
  }
}
</script>

<style>

</style>