<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-container>
      <v-row class="pa-4">
        <v-col cols="12" xl="4" lg="4" md="4" sm="4">
          <v-text-field
            v-model="product.title"
            label="Title"
            hide-details
            :rules="rules"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" xl="4" lg="4" md="4" sm="4">
          <v-text-field
            v-model="product.price"
            label="Price"
            hide-details
            :rules="numberRules"
            required
            type="number"
          ></v-text-field>
        </v-col>
        <v-col cols="12" xl="4" lg="4" md="4" sm="4">
          <v-text-field
            v-model="product.description"
            label="Description"
            hide-details
            :rules="rules"
            required
          ></v-text-field>
        </v-col>
      </v-row>

    <v-row class="pa-4" justify="center">
      <v-col md="3" xs="12">
        <Button :event="submit" type="submit" color="primary" :loading="loading" :label="$t('submit')"/>
      </v-col>
      <v-col md="3" xs="12">
        <Button :event="goBack" color="secondary" :loading="loading" :label="$t('back')"/>
      </v-col>
    </v-row>
    </v-container>
  </v-form>
</template>

<script lang="ts">
import Button from "~/components/Button.vue";
import { Product } from '~/types/products';

declare interface BaseComponentData {
  valid: boolean;
  loading: boolean;
  product: {
    title: string;
    price: number;
    description: string;
  };
  rules: any[];
  numberRules: any[]
}

export default {
  name: "Product",
  middleware: ['isAuthenticated'],
  components: { Button },
  data: (): BaseComponentData => ({
    valid: false,
    loading: false,
    product: {
      title: '',
      price: undefined,
      description: ''
    },
    rules: [ v => !!v || '' ],
    numberRules: [ 
        v => !!v || "",
        v => ( v && v > 0 ) || ""
    ],
  }),
  async created() {
    const { product } = this.$nuxt.$options.router.currentRoute.params;
    const apiProduct = await this.$store.dispatch("products/getSingleProductAction", product) as Product;
    this.product = { ...apiProduct };
  },
  methods: {
    async submit() {
      this.$refs.form.validate();
      if(this.valid) {
        this.loading = true;
        await this.$store.dispatch("products/updateProductAction", this.product);
        this.loading = false;
      }
    },
    goBack() {
      this.$nuxt.$options.router.push('/products');
    }
  }
}
</script>

<style>

</style>