<template>
  <v-card>
    <v-row class="pa-4">
      <v-col cols="12" xl="4" lg="4" md="4" sm="4">
        <v-text-field
          v-model="search.title"
          append-icon="mdi-magnify"
          :label="$t('title')"
          hide-details
          @keydown.enter="getDataFromApi"
        ></v-text-field>
      </v-col>
      <v-col cols="12" xl="4" lg="4" md="4" sm="4">
        <v-text-field
          v-model="search.price"
          append-icon="mdi-magnify"
          :label="$t('price')"
          hide-details
          @keydown.enter="getDataFromApi"
          type="number"
        ></v-text-field>
      </v-col>
      <v-col cols="12" xl="4" lg="4" md="4" sm="4">
        <v-text-field
          v-model="search.price_min"
          append-icon="mdi-magnify"
          :label="$t('minPrice')"
          hide-details
          @keydown.enter="getDataFromApi"
          type="number"
        ></v-text-field>
      </v-col>
      <v-col cols="12" xl="4" lg="4" md="4" sm="4">
        <v-text-field
          v-model="search.price_max"
          append-icon="mdi-magnify"
          :label="$t('maxPrice')"
          hide-details
          @keydown.enter="getDataFromApi"
          type="number"
        ></v-text-field>
      </v-col>
      <v-col cols="12" xl="4" lg="4" md="4" sm="4">
        <v-text-field
          v-model="search.categoryId"
          append-icon="mdi-magnify"
          :label="$t('categoryId')"
          hide-details
          @keydown.enter="getDataFromApi"
          type="number"
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row class="pa-4" justify="center">
      <v-col md="3" xs="12">
        <Button :event="getDataFromApi" color="primary" :loading="loading" :label="$t('search')"/>
      </v-col>
      <v-col md="3" xs="12">
        <Button :event="clear" color="error" :loading="loading" :label="$t('clear')"/>
      </v-col>
    </v-row>

    <Table 
      :headers="headers"
      :itemsPerPage="itemsPerPage"
      :tableItems="productsComputed"
      :totalItems="totalItems"
      :actions="['edit', 'delete']"
      :options="tableOptions"
      :search="search"
      :searchEnabled="true"
      :loading="loading"
      @onEdit="editItem"
      @onDelete="deleteItem"
      @onOptionsChanged="handleOptionsChanged"
      :addItemEnabled="true"
      :addEvent="() => { dialog = true; }"
    />

    <v-row justify="center">
      <v-dialog
        v-model="dialog"
        max-width="600px"
      >
        <Dialog 
          ref="dialog" 
          :dialog="dialog" 
          :loading="loading"
          :title="$t('createProduct')" 
          @submit="createProduct" 
          @close="() => dialog = false"
        >
          <v-container>
            <v-row class="pa-4">
              <v-col cols="12" xl="4" lg="4" md="4" sm="4">
                <v-text-field
                  v-model="product.title"
                  :label="$t('title') + ' *'"
                  hide-details
                  :rules="rules"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" xl="4" lg="4" md="4" sm="4">
                <v-text-field
                  v-model="product.price"
                  :label="$t('price') + ' *'"
                  hide-details
                  :rules="numberRules"
                  required
                  type="number"
                ></v-text-field>
              </v-col>
              <v-col cols="12" xl="4" lg="4" md="4" sm="4">
                <v-text-field
                  v-model="product.description"
                  :label="$t('description') + ' *'"
                  hide-details
                  :rules="rules"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </Dialog>
      </v-dialog>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import Table from "~/components/Table.vue";
import Button from "~/components/Button.vue";
import Dialog from "~/components/Dialog.vue";

import { DataTableHeaders, Product, ProductDataTableFilters, ProductTable } from "~/types/products";
import { TableOptions } from "~/types/common";

declare interface BaseComponentData {
  headers: DataTableHeaders[];
  products: ProductTable[];
  itemsPerPage: number;
  totalItems: number;
  tableOptions: TableOptions;
  loading: boolean;
  search: ProductDataTableFilters;
  dialog: boolean;
  product: {
    title: string;
    price: number;
    description: string;
    categoryId: number;
    images: string[];
  };
  rules: any[];
  numberRules: any[];
}

export default {
	name: "Products",
  middleware: ['isAuthenticated'],
  components: { Table, Button, Dialog },
	data: (): BaseComponentData => ({
		headers: [
      { text: "Id", value: "id", sortable: false, align: "start" },
      { text: "Title", value: "title", sortable: false, align: "start" },
      { text: "Price", value: "price", sortable: false, align: "start" },
      { text: "Description", value: "description", sortable: false, align: "start" },
      { text: "Category", value: "category", sortable: false, align: "start" },
      { text: "Actions", value: "actions", sortable: false, align: "center" }
    ],
    itemsPerPage: 5,
    totalItems: 0,
		products: [],
    tableOptions: {},
    search: {
      title: '',
      price: undefined,
      price_min: undefined,
      price_max: undefined,
      categoryId: undefined
    },
    loading: false,
    dialog: false,
    product: {
      title: '',
      price: undefined,
      description: '',
      categoryId: 1,
      images: ["https://placeimg.com/640/480/any"] 
    },
    rules: [ v => !!v || '' ],
    numberRules: [ v => !!v || "", v => ( v && v > 0 ) || "" ]
	}),
  computed: {
    productsComputed: {
      get() {
        const productsStored = this.$store.getters["products/getProducts"] as ProductTable[] || [];
        return productsStored.map((p: any) => {
          return {
            ...p,
            category: p.category.name
          }
        });
      },
      set(value: ProductTable[]) {
        this.products = value;
      }
    }
  },
  methods: {
    async getDataFromApi() {
      this.loading = true;

      const { page = 0, itemsPerPage = 5 } = this.tableOptions;

      const offset = (page - 1) * itemsPerPage;

      const [products, totalItems] = await Promise.all([
        this.$store.dispatch("products/getProductsAction", { pagination: { limit: itemsPerPage, offset }, filters: { ...this.search } }),
        this.$store.dispatch("products/getTotalProductsAction", this.search)
      ]);

      this.products = products;
      this.totalItems = totalItems;

      this.loading = false;
    },
    clear() {
      this.search.title = "";
      this.search.price = undefined;
      this.search.price_min = undefined;
      this.search.price_max = undefined;
      this.search.categoryId = undefined;
      this.getDataFromApi();
    },
    editItem(item: Product) {
      this.$nuxt.$options.router.push(`products/${item.id}`)
    },
    async deleteItem(item: Product) {
      this.loading = true;
      await this.$store.dispatch("products/deleteProductAction", item.id);
      await this.getDataFromApi();
    },
    async createProduct(formValid: boolean) {
      if(formValid) {
        this.loading = true;
        await this.$store.dispatch("products/createProductAction", this.product);
        await this.getDataFromApi();
        this.dialog = false;
      }
    },
    async handleOptionsChanged(value: TableOptions) {
      this.tableOptions = value;
      await this.getDataFromApi();
    },
  },
  watch: {
    dialog(value) {
      if(!value) this.$refs.dialog.$refs.form.reset();
    }
  }
}
</script>

<style>

</style>