<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      clipped
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t(`${item.title}`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      clipped-left
      app
      shrink-on-scroll
      src="https://picsum.photos/1920/1080?random"
      fade-img-on-scroll
      scroll-target="#scrolling-techniques-5"
      scroll-threshold="500"
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(55,236,186,.7), rgba(25,32,72,.7)"
        ></v-img>
      </template>

      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
      <v-spacer />
      <v-toolbar-title>
        <Button :event="logout" :block="false" type="submit" color="secondary" :loading="loading" :label="$t('logout')"/>
      </v-toolbar-title>

    </v-app-bar>

    <v-sheet
      id="scrolling-techniques-5"
      class="overflow-y-auto"
      max-height="100vh"
    >
      <v-main>
        <v-container>
          <Nuxt />
        </v-container>
      </v-main>
    </v-sheet>


    <v-footer
      absolute
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import Button from "~/components/Button.vue";

export default {
  name: 'DefaultLayout',
  comments: { Button },
  data () {
    return {
      drawer: true,
      loading: false,
      items: [
        {
          icon: 'mdi-package-variant-closed',
          title: 'Nav_productsTitle',
          to: '/products'
        },
        {
          icon: 'mdi-application',
          title: 'Nav_categoriesTitle',
          to: '/categories'
        }
      ],
      title: 'Regcheq'
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("authentication/logoutAction");
      this.$nuxt.$options.router.push("/");
    }
  }
}
</script>
