<template>
  <v-app dark>
    <v-app-bar
      clipped-left
      app
      shrink-on-scroll
      src="https://picsum.photos/1920/1080?random"
      fade-img-on-scroll
      scroll-target="#scrolling-techniques-5"
      scroll-threshold="500"
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(55,236,186,.7), rgba(25,32,72,.7)"
        ></v-img>
      </template>

      <v-toolbar-title>{{ title }}</v-toolbar-title>
    </v-app-bar>

    <v-sheet
      id="scrolling-techniques-5"
      class="overflow-y-auto"
      max-height="100vh"
    >
      <v-main>
        <v-container>
          <Nuxt />
        </v-container>
      </v-main>
    </v-sheet>


    <v-footer
      absolute
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'NoLogged',
  data () {
    return {
      title: 'Regcheq'
    }
  }
}
</script>
