<template>
  <v-container>
      <v-row align="center" justify="center">
          <v-col cols="12" sm="10">
            <v-card class="elevation-6 mt-10"  >
                  <v-row justify="center">
                    <v-col cols="8">
                      <v-card-text class="mt-12">
                        <h2 class="text-center">{{ $t('loginIntoYourAccount') }}</h2>
                        <h4 class="text-center mt-5 grey--text">
                          {{ $t('loginSubtitle1') }} <br> {{ $t('loginSubtitle2') }}
                        </h4>

                        <v-form v-model="valid" ref="form">
                          <v-row align="center" justify="center">
                            <v-col cols="12" sm="8">
                              <v-text-field
                                v-model="user.email"
                                :label="$t('email')"
                                hint="test@test.com"
                                outlined
                                dense
                                color="blue"
                                autocomplete="false"
                                class="mt-16"
                                type="email"
                                :rules="[rules.required, rules.email]"
                                required
                              />

                              <v-text-field
                                v-model="user.password"
                                :label="$t('password')"
                                outlined
                                dense
                                color="blue"
                                autocomplete="false"
                                type="password"
                                :rules="[rules.required]"
                                required
                              />

                              <Button :event="submit" type="submit" color="primary" :loading="loading" :label="$t('login')"/>
                            </v-col>
                          </v-row>  
                        </v-form>
                      </v-card-text>
                    </v-col>
                  </v-row>
            </v-card>
          </v-col>
      </v-row>

    <v-snackbar
      v-model="snackbar"
      color="error"
      :timeout="2500"
    >
      {{ $t('notLogged') }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="black"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import Button from "~/components/Button.vue";
  
export default {
  layout: 'noLogged',
  middleware: ['alreadyAuthenticated'],
  components: { Button },
  data: () => ({
    valid: false,
    snackbar: false,
    user: {
      email: '',
      password: ''
    },
    loading: false,
    rules: {
      required: value => !!value || '',
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || ''
      },
    }
  }),
  methods: {
    async submit() {
      this.$refs.form.validate();

      if(this.valid) {
        this.loading = true;
        const user = await this.$store.dispatch("authentication/loginAction", this.user);

        this.loading = false;

        if(!user) this.snackbar = true;
      }
    }
  }
}
</script>
<style scoped>
.v-application .rounded-bl-xl {
    border-bottom-left-radius: 300px !important;
}
.v-application .rounded-br-xl {
    border-bottom-right-radius: 300px !important;
}
</style>
